.outtercontainer
{background-color: white;-webkit-box-shadow: 14px 15px 60px -14px rgba(0,0,0,0.64);-moz-box-shadow: 14px 15px 60px -14px rgba(0,0,0,0.64);box-shadow: 14px 15px 60px -14px rgba(0,0,0,0.64);width: 960px;margin: auto;}

.innercontainer
{
	padding: 20px;
}

body
{
    color: #444444;
	background-color: #e2e2e2;
    padding: 2em;
	font: 100%/1.4 'Roboto', arial, helvetica, helve, sans-serif;
}

.avatartext
{
	position: absolute;
	left: 170px;
	color: white;
	bottom: 85px;
}
.avatar
{
	position: absolute;
	width: 120px;
	bottom: 30px;
	left: 30px;
	height: 120px;
	background: url('../img/avatar.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* background-color: white; */
	-webkit-box-shadow: 14px 15px 60px -14px rgba(0,0,0,0.64);
	-moz-box-shadow: 14px 15px 60px -14px rgba(0,0,0,0.64);
	box-shadow: 14px 15px 60px -14px rgba(0,0,0,0.64);
}

.background
{
	position: relative;
	height: 420px;
	background: url('../img/background.png');
}

.leaf
{
	margin: auto;
	width: 120px;
	height: 120px;
	background: url('../img/leaf.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* background-color: white; */
}

.dot1 {
    color: #888;  margin-left: 10px;
    font-size:11px;
}

.dot0{
    color: #eee;
    margin-left: 10px;
    font-size:11px;
}

h1 {
			font-size: 2.2em;
			padding: 0 0 .5em 0;
		}

		h2 {
			font-size: 1.5em;
		}

		.header {
			padding: 1em 0;
		}